#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.router-link-active,
.router-link-exact-active {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.userinput {
    font-size:20px;
    width: 520px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #3f8ed1;
}

.usertextarea {
    font-size:20px;
    width: 520px;
    border-radius: 5px;
    border-color: #3f8ed1;
}

.normal {
   width: 1000px;
   margin: auto;
   text-align: left;
   font-size: 24px;
}

table.oracle {
  border: 1px solid black;
  border-color: lightgrey;
}
table.oracle th {
  border: 1px solid black;
  border-color: lightgrey;
}
table.oracle td {
  border: 1px solid black;
  border-color: lightgrey;
}
tr.highlight {
  background-color: lightblue;
}

